/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.container {
  text-align: left;
  margin: 0 auto;
  padding: 4rem 0;
  padding-right: 2rem;
  padding-left: 2rem;
  position: relative;
  overflow: hidden;
}

.title {
  font-size: 2em;
  /* color: #a7b1ff; */
}

.subtitle {
  font-size: 1.5em;
  font-weight: bold;
}

.description {
  margin: 20px 0;
}

.buttons {
  display: flex;
  justify-content: left;
  gap: 10px;
}

.getStartedButton,
.downloadButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.getStartedButton {
  background-color: #a7b1ff;
  color: #1e1e1e;
}

.downloadButton {
  background-color: #a7b1ff;
  color: #1e1e1e;
}

/* .downloadButton {
  background-color: #333;
  color: #fff;
} */

.features {
  margin-top: 20px;
}

.featuresContainer {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  justify-content: space-between;
}

.feature {
  flex: 0 0 auto;
  width: 250px; /* Set the width */
  padding: 20px;
  border-radius: 5px;
  background-color: #f4f4f4;
  color: #000;
}

.feature h3 {
  font-size: 1.5em;
}

.disclaimer {
  margin-top: 20px;
}

.contact {
  margin-top: 20px;
}